{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.newPassword1) }}
        {{ form_row(form.newPassword2) }}
    {{ form_end(form) }}
    {% for message in app.flashes("success") %}
        <div class="message">{{ message }}</div>
    {% endfor %}


    {% for message in app.flashes("error") %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
{% endblock %}
